/* Nav Bar */

.navbar {
  display: flex; /* Add flexbox */
  align-items: center; /* Align items vertically */
  overflow: hidden;
  background-color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
}

.navbar .title {
  margin-right: auto; /* Push the title to the right */
  font-weight: bold;
  font-size: 20px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
}


.navbar a {
  color: inherit;
  margin-right: 40px; 
  text-decoration: none;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
  font-weight: 300;
}

/* Apply a hover effect to reduce opacity by 50% */
.navbar a:hover { 
  color: rgba(0, 0, 0, 0.5);
}



/* Row Grids */

.grid-main {
  display: grid;
  width: 100%;
  height: 600px;
  position: relative; /* Set the main row as a relative position container */
  overflow: hidden;
  margin-bottom: 20px
}

.grid-secondary {
  display: grid;
  width: 100%;
  height: 600px;
  position: relative; 
  overflow: hidden;
  margin-bottom: 20px
}

.grid-parameters {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for two images */
  gap: 20px; /* Adjust the gap between images as needed */
  width: 100%;
  max-width: 100%; /* Ensure the grid doesn't exceed the screen width */
  margin-bottom: 20px; /* Add margin below the image grid */
}


/* Text Fonts */

.bold-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: bold;
}

.light-text {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Text Align*/

.text-align-left
{
  text-align: left;
}

.text-center-center {
  position: absolute; /* Position the welcome-text absolutely */
  text-align: center;
  top: 50%; /* Move it to the vertical center */
  left: 50%; /* Move it to the horizontal center */
  transform: translate(-50%, -50%); /* Center it precisely */
  z-index: 1; /* Ensure it appears above the earth image */
}

.text-center-left {
  position: absolute; /* Position the welcome-text absolutely */
  text-align: left;
  top: 50%; /* Move it to the vertical center */
  left: 20%; /* Move it to the horizontal center */
  transform: translate(-50%, -50%); /* Center it precisely */
  z-index: 1; /* Ensure it appears above the earth image */
}

.text-center-right {
  position: absolute; /* Position the welcome-text absolutely */
  text-align: left;
  top: 50%; /* Move it to the vertical center */
  left: 70%; /* Move it to the horizontal center */
  transform: translate(-50%, -50%); /* Center it precisely */
  z-index: 1; /* Ensure it appears above the earth image */
}

.text-center-top {
  position: relative; /* Position the welcome-text absolutely */
  text-align: center;
  top: 20%; /* Move it to the vertical center */
  left: 50%; /* Move it to the horizontal center */
  transform: translate(-50%, -50%); /* Center it precisely */
  z-index: 1; /* Ensure it appears above the earth image */
  margin-top: 100px;
}

.offset-text-25 {
  margin-left: 25%; 
}

/* Text Color*/
.white {
  color: white;
}

/* Text Size*/

.text-size-1-5 {
  font-size: 1.5rem; 
  max-width: 100%;
  overflow: hidden; 
  white-space: nowrap;
}

.text-size-2-5 {
  font-size: 2.5rem; 
  max-width: 100%;
  overflow: hidden; 
  white-space: nowrap;
}

/* Text Container*/
.text-container {
  margin-bottom: 20px; 
}

/* Line Break*/
.custom-br-1 {
  line-height: 50px;
}

/* Image */
.imagesize {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.image-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landscape-image {
  width: 100%;
  height: auto;
  display: block;
}

.image-container-static {
  position: relative;
  overflow: hidden;
}

.image-container-hover {
  position: relative;
  overflow: hidden;
}

.image-container-hover:hover img {
  opacity: 0.5; 
  transition: opacity 0.3s ease; 
}









